.App {
  text-align: center;
}

.styled-form {
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
}

.styled-input-search {
  width: 300px;
  height: 38px;
  border-radius: 3px;
  margin-right: 10px;
  &::placeholder {
    padding-left: 5px;
  }
}

.styled-results {
  margin: 25px;
}

.styled-button-search {
  background-color: #0a0a23;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px;
  font-size: 15px;
  &:hover {
    cursor: pointer;
  }
  &:disabled {
    background-color: lightgray;
    cursor: not-allowed;
  }
}

.styled-pagination {
  display: flex;
  justify-content: space-between;
  list-style: none;
  cursor: pointer;
  padding: 0%;
  margin: 40px 0;
}

.styled-pagination a {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #6c7ac9;
  color: #6c7ac9;
}

.styled-pagination__link {
  font-weight: bold;
}

.styled-pagination__link--active a {
  color: #fff;
  background: #6c7ac9;
}

.styled-pagination__link--disabled a {
  color: rgb(198, 197, 202);
  border: 1px solid rgb(198, 197, 202);
}